/* Complete the CSS styling according to the provided design */

body {
    background-image: url("images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
